body {
    background: #131313;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 1.5em;
}

.input-label {
    display: inline-block;
    width: 60px;
    padding: 5px;
    opacity: 0.5;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

h1, h2, h3 {
    color: #fff;
    opacity: 0.8;
}

.navbar-header {
    opacity: 0.8;
}

    .navbar-header a {
        text-decoration: none;
        color: #fff;
    }

    .navbar-header .brand-text {
        line-height: 30px;
    }

.name {
    font-weight: 400;
    color: #fff;
}

.login-page,
.logout-page,
.logged-out {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}

    .logged-out .signout {
        border: none;
    }

    .logged-out a.PostLogoutRedirectUri {
        color: #7b7b7b;
        font-weight: bold;
        text-decoration: none;
    }

    .icon-banner,
    .login-page .logo {
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
    }

    .icon-banner-wrapper,
    .login-page .logo-wrapper {
        position: relative;
    }

.icon-banner-wrapper {
    height: 30px;
    width: 30px;
    display: inline-block;
    margin-right: 5px;
}

.login-page .logo-wrapper {
    height: 180px;
    width: 180px;
    margin: 0 auto;
    margin-bottom: 20px;
}

    .icon-banner-wrapper:after,
    .login-page .logo-wrapper:after {
        content: "";
        position: absolute;
        display: block;
        border-radius: 50%;
        width: 98%;
        height: 98%;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: -1;
        background: #fff;
    }

.login-page.error .logo-wrapper:after {
    animation: colorflash 2s linear 1 normal;
}

.login-page .login-input-wrapper {
    display: inline-block;
}

.login-page .login-form-input {
    border-radius: 0;
    width: 300px;
    margin-bottom: 5px;
}

.login-page .login-remember {
    margin-left: 68px;
}

    .login-page .login-remember .text {
        opacity: 0.5;
        line-height: 18px;
    }

.login-page .recover-password {
    text-align: center;
    margin-top: 25px;
}

    .login-page .recover-password a {
        text-decoration: none;
        color: #fff;
        opacity: 0.3;
    }

button {
    color: #fff;
    background-color: #32373c;
    border: none !important;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.login-page .server-error {
    margin-bottom: 15px;
    text-align: center;
}

@keyframes colorflash {
    0% {
        background-color: #fff;
    }

    7% {
        background-color: #d81b26;
    }

    12% {
        background-color: #fff;
    }

    22% {
        background-color: #d81b26;
    }

    27% {
        background-color: #fff;
    }

    100% {
        background-color: #fff;
    }
}

.card {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    padding: 16px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    background: #fff;
    color: rgba(0, 0, 0, .87);
}

    .card h1, .card h2, .card h3 {
        color: #000;
    }